#topnavbar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-shrink: 0;
}

#midsection
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    /* Needed for flex-grow to work */
    height: 80vh;
}


#bottomnavbar
{
    display: flex;
    flex-shrink: 0;
}

#midsection ul li,
#bottomnavbar ul li,
#topnavbar ul li 
{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    color: blue;
}

/* For about.html */
#sectiontop
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0.5;
}

#titletop
{
    font-weight: bold;
    font-size: 40px;
    color:rgb(115, 13, 211);
}

.imagetop
{
    align-items: center;
    justify-content: center;
    width: 200px;
}

#para
{
    display: flex;
    flex-wrap: wrap;
    font-size: 21px;
    text-align: justify;
}